services:
  # PostgreSQL Database
  db:
    image: postgres:15
#    volumes:
#      - postgres_data:/var/lib/postgresql/data/  # TODO: Do not commit the uncomment
#      - ./init_data.sql:/docker-entrypoint-initdb.d/init_data.sql:ro  # TODO: Remove this line
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Django Application
  django:
    build: .
    command: django
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_PORT=5432

  # Streamlit Frontend
  streamlit:
    build: .
    command: streamlit
    volumes:
      - .:/app
    ports:
      - "8501:8501"
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_PORT=5432
    depends_on:
      - django

#volumes:  # TODO DO NOT COMMIT
#  postgres_data:
