services:
  # PostgreSQL Database
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    # We load the file for general variables, but map specific Postgres keys below
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "${DB_EXTERNAL_PORT}:${DB_PORT}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Django Application
  django:
    build: .
    command: django
    volumes:
      - .:/app
    ports:
      - "${DJANGO_PORT}:${DJANGO_PORT}"
    env_file:
      - .env
    environment:
      - RUNNING_IN_DOCKER=true
      - DJANGO_PORT=${DJANGO_PORT}
      # DB Vars
      - DB_ENGINE=${DB_ENGINE}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      # Server Vars
      - DJANGO_PORT=${DJANGO_PORT}
    depends_on:
      db:
        condition: service_healthy

  # Streamlit Frontend
  streamlit:
    build: .
    command: streamlit
    volumes:
      - .:/app
    ports:
      - "${STREAMLIT_PORT}:${STREAMLIT_PORT}"
    env_file:
      - .env
    environment:
      - RUNNING_IN_DOCKER=true
      # DB Vars
      - DB_ENGINE=${DB_ENGINE}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      # Server Vars
      - STREAMLIT_PORT=${STREAMLIT_PORT}
      - STREAMLIT_BROWSER_SERVER_ADDRESS=${STREAMLIT_BROWSER_SERVER_ADDRESS}
      - STREAMLIT_SERVER_ADDRESS=${STREAMLIT_SERVER_ADDRESS}
    depends_on:
      - django

volumes:
  postgres_data: